h1{
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url("imagens/ceu.jpg");
    background-repeat: repeat; /* exercicio pede para não repetir mas deixei assim*/

}
body{
    background-color: aliceblue;
}
.primeiroparagrafo{
    font-size: 14px;
}
.imagemum{
    width: 150px;
    border-radius: 15px;
    padding: 1px;
    border: 2px solid black;
    margin-top: 20px;
}
.linkimagem{
    position: fixed;
    top: 15px;
}
button:hover{
    background-color: #B2A9A8;
    transition-duration: 3s;
}
.video{
    margin: 10px;
    padding: 10px;
}
footer{
    color: white;
    background-color: black;
}